{% extends 'base.html.twig' %}

{% block title %}Iniciar sesión{% endblock %}

{% block main %}
{{ parent() }}

    <form method="post" class="bg-light my-4 mx-auto p-5 border w-65 col-6 offset-3">
        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        <h1 class="h3 mb-5 text-center">Identificación de usuario</h1>

        {% if app.user %}
            <div class="mb-3 text-center">
                <p>Estás identificado como {{ app.user.nombre }}.</p>
                <a class="btn btn-primary" href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% else %}
            <label for="inputEmail">E-mail</label>
            <input type="text" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>

            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="email" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="checkbox my-2">
                <label>
                    <input type="checkbox" name="_remember_me">Recuérdame
                </label>
            </div>

            <div class="my-2 text-center">
                <button class="btn btn-lg btn-primary" type="submit">Acceder</button>
            </div>

            <div class="mt-3 text-center">
                <p>
                    ¿Nuevo aquí?
                    <a style="color: #0d6efd" href="{{ path('app_register') }}">Regístrate</a>
                </p>
            </div>

            <div class="mt-3 text-center">
                <p>
                    ¿Olvidaste tu contraseña?
                    <a style="color: #0d6efd" href="{{ path('app_forgot_password_request') }}">Recuperar contraseña</a>
                </p>
            </div>
        {% endif %}
    </form>
{% endblock %}