<table class="table table-striped table-bordered">
    <tr class="text-center">
        <th>ID</th>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Valoración</th>
        <th>País</th>
        <th>Tipo de lugar</th>
        <th>Operaciones</th>
    </tr>
    {% for lugar in lugares %}
    <tr class="text-center">
        <td>{{ lugar.id }}</td>
        <td>
            {% set foto = (lugar.getPhotos()|length) > 0 ? lugar.getPhotos().get(0).getRuta():'default.jpg' %}
            <img class="rounded" style="width: 150px" alt="Imagen de {{ lugar.nombre }}" title="Imagen de {{ lugar.nombre }}" src="{{ asset(covers_directory ~ '/' ~ (foto ?? 'default.jpg')) }}">
        </td>
        <td><b>{{ lugar.nombre }}</b></td>
        <td>{{ lugar.descripcion }}</td>
        <td>
            {% if lugar.valoracion != NULL %}
                {% for i in 1..5 %}
                    {% if i <= lugar.valoracion %}
                        <img height="25" width="25" alt="{{ lugar.valoracion }}/5" title="{{ lugar.valoracion }}/5" src="{{ asset('images/samples/estrellaon.gif') }}">
                    {% else %}
                        <img height="25" width="25" alt="{{ lugar.valoracion }}/5" title="{{ lugar.valoracion }}/5" src="{{ asset('images/samples/estrellaoff.gif') }}">
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>Sin valorar</p>
            {% endif %}
        </td>
        <td>{{ lugar.pais }}</td>
        <td>{{ lugar.tipo }}</td>
        <td>
            <a href="{{ path('lugar_show', {'id':lugar.id}) }}">
                <img height="20" width="20" alt="Detalles" title="Detalles" src="/images/buttons/show.png">
            </a>
            {% if is_granted('edit', lugar) %}
            <a href="{{ path('lugar_update', {'id':lugar.id}) }}">
                <img height="20" width="20" alt="Editar" title="Editar" src="/images/buttons/update.png">
            </a>
            {% endif %}
            {% if is_granted('delete', lugar) %}
            <a href="{{ path('lugar_delete', {'id':lugar.id}) }}">
                <img height="20" width="20" alt="Eliminar" title="Eliminar" src="/images/buttons/delete.png">
            </a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>